<div id="wrapper" class="about">
    <header>
        <a href="/"><h1 class="red">Home#top</h1></a>
    </header>
    <div id="main" class="top">
        <h2>Find me in app/views/home/about.html.erb</h2>
    </div>
</div>
