<div id="wrapper" class="top">

    <header>
        <h1 class="red">Home#top</h1>
        <a href="/about" class="red">OpinionAppについて</a>
    </header>
    <div id="main" class="top">
        <h2>Find me in app/views/home/top.html.erb</h2>
    </div>
</div>
