// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #FF3434;
$orange: #FFA500;
$white: #ddd;
$windowheight: 100vh;

.red{
    color: $red;
}

#wrapper{
    width: 100vw;
    height: 100vh;
}

/* header */
/******************************************/

header{
    display: inline-block;
    height: 100px;
    width: 100vw;
    // background-color: $orange;
}

header h1{
    // display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

header a {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}


/* top */
/******************************************/

$topimageleft: #ee0979;
$topimageright: #ffa934;

#wrapper.top{
    width: 100vw;
    height: 100vh;
    background: -webkit-linear-gradient(left, rgba($topimageleft, 0.8), rgba($topimageright, 0.8)), url(/top_main.png) no-repeat top/cover;
    background: linear-gradient(90deg, rgba($topimageleft, 0.8), rgba($topimageright, 0.8)), url(/top_main.png) no-repeat top/cover;
}
#main.top{
    min-height: calc(100vh - 200px);
    // min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 40px;
    color: $white;
    clear: both;
}

/* about */
/******************************************/

#wrapper.about a{
    margin-top: 0px;
    margin-right: 0px;
    float: left;
}
